<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lost Foodies</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel=”stylesheet” href=”http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css”>
    <script src=”//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js”></script>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/freelancer.min.css" rel="stylesheet">
    <link href="css/freelancer.css" rel="stylesheet">
    <script src="js/geolocation.js"></script>

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Lost Foodies</a>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="name">
            <span>Mark</span>
          </div>
          <span class="skills">Find your Food</span>
          <hr class="star-light">
          <div class="radiusBox">
            <h3>Distance (mi)</h3>
          </div>
          <div>
            <button id="10" class="sButton">
                <span class="miles">1</span>
            </button>
            <button id="20" class="sButton">
                <span class="miles">2</span>
            </button>
            <button id="30" class="sButton">
                <span class="miles">3</span>
            </button>
            <button id="40" class="sButton">
                <span class="miles">4</span>
            </button>
            <button id="50" class="sButton">
                <span class="miles">5</span>
            </button>
          </div>
          <div class="moneyBox">
            <h3>price ($)</h3>
          </div>
          <div>
            <button id="1" class="mButton">
                <span class="miles">$</span>
            </button>
            <button id="2" class="mButton">
                <span class="miles">$$</span>
            </button>
            <button id="3" class="mButton">
                <span class="miles">$$$</span>
            </button>
            <button id="4" class="mButton">
                <span class="miles">$$$$</span>
            </button>
          </div>
            <a href="/swipe">
              <button id="geolocateBtn" class="gobutton">
                Go!
              </button>
            </a>
          </div>
          <div>
            <p id="longitude"></p>
            <p id="latitude"></p>
          </div>
        </div>
      </div>
    </header>

    <!-- Footer -->
    <footer class="text-center">
      <div class="footer-below">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Copyright &copy; Your Website 2017
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top d-lg-none">
      <a class="btn btn-primary js-scroll-trigger" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/freelancer.min.js"></script>

  </body>

</html>
